@import "tailwindcss";

@theme {
  /* On remplace le #0f172a par un bleu plus lumineux et luxueux */
  --color-brand-dark: #1e293b;   /* Ardoise éclairée */
  --color-brand-accent: #38bdf8; /* Bleu acier */
  --color-brand-light: #f8fafc;  /* Blanc cassé */
  
  --backdrop-blur-xl: blur(24px);
}

body {
  /* On ajoute un dégradé subtil pour que ce ne soit pas "plat" */
  background: radial-gradient(circle at top center, #334155, #1e293b);
  color: var(--color-brand-light);
  font-family: sans-serif;
  min-height: 100vh;
}